@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Chopin";
    src: url(/Chopin-Light.ttf);
}
@font-face {
    font-family: "Gratelos";
    src: url(/Gratelos-Display.ttf);
}


body {
    @apply bg-background-dark text-text-dark;
    font-family: "Chopin";
}

h1 {
    font-size: 8rem;
    line-height: 8rem;
    /* font-weight: 800; */
    font-family: "Gratelos";
    color: theme('colors.accent');
    margin: 2rem;

    border-bottom: 2px solid theme('colors.accent');
    border-bottom-width: 2px;
    width: fit-content;
    padding: 0 1rem;
}

h2 {
    font-size: 6rem;
    line-height: 6rem;
    /* font-weight: 600; */
    font-family: "Gratelos";
    color: theme('colors.accent');
}

.logo-color {
    background-color: #fff;
    background-size: 100%;

    background-clip:text;
    transition: all .5s;
}

.color-text {
    background: url(/colors.png) repeat;
    background-size: 80px;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    transition: all .5s;
}
.color-text:not(.color-text:hover) {
    transform: scale(0.90);
    filter: grayscale(100%) brightness(500%);
    transition: all .5s;
}


.color-text-shadow {
    filter: drop-shadow(-0.5px 0.5px 0px rgba(0, 0, 0, 0.75));
}
