@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Chopin";
    src: url(/Chopin-Light.ttf);
}
@font-face {
    font-family: "Gratelos";
    src: url(/Gratelos-Display.ttf);
}

:root {
    --unity-yellow: #d1b74c;
    --unity-green: #56895b;
    --unity-red: #803155;
    --unity-purple: #6c53c7;
    --unity-gradient: linear-gradient( 80deg, #d1b74c, #56895b , #6c53c7, #803155 );
    --unity-gradient-looping: linear-gradient( 80deg, #d1b74c 12.5%, #56895b , #6c53c7, #803155, #d1b74c 87.5%);
    --text-light: #f5f5f5;
    --text-dark: #767676;
    --accent: #65acb4;
}

.unityYellow {
    color: var(--unity-yellow);
}

.unityGreen {
    color: var(--unity-green);
}

.unityPurple {
    color: var(--unity-purple);
}

.unityRed {
    color: var(--unity-red);
}

html {
    background:  linear-gradient(
        #212121,
        #161616 20rem,
        #161616 90%,
        #212121
    );
    height: 100%;
    background-attachment: fixed;
}

body {
    font-family: "Chopin";
    color: var(--text-light)
}

h1 {
    font-size: 8rem;
    line-height: 8rem;
    font-family: "Gratelos";
    color: var(--accent);
    margin: 2rem;

    width: fit-content;
    padding: 0 1rem;
}

h2 {
    font-size: 6rem;
    line-height: 6rem;
    font-family: "Gratelos";
    color: var(--accent);
}

h3 {
    font-size: 4rem;
    line-height: 4rem;
    font-family: "Gratelos";
    color: var(--accent);
}

.logo-color {
    background-color: #fff;
    background-size: 100%;
    background-clip:text;
    transition: all .5s;
}

@mixin striped {
    background: var(--unity-gradient-looping) repeat;
    background-size: 80px;
}

.striped {
    @include striped;
}

@mixin striped-text {
    @include striped;

    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.striped-text {
    @include striped-text;
}

.striped-link {
    @include striped-text;
    transition: all .5s;

    &:not(:hover) {
        transform: scale(0.90);
        filter: grayscale(100%) brightness(500%);
    }
}

.striped-button {
    @include striped-text;

    display: inline-block;

    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem;
    border-radius: 25px;

    border: var(--text-light) 2px solid;

    &:not(:hover) {
        color: var(--text-light);
        transform: scale(0.90);
        transition: all .5s;
        filter: grayscale(100%) brightness(500%);
    }

    transition: all .5s;
}
