@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background text-text;
    font-family: "chopin";
}


.color-text {
    background: url(/colors.png) repeat;
    background-size: 80px;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    transition: all .5s;
}
.color-text:not(.color-text:hover) {
    transform: scale(0.90);
    filter: grayscale() brightness(20%);
    transition: all .5s;
}


.color-text-shadow {
    filter: drop-shadow(-0.5px 0.5px 0px rgba(0, 0, 0, 0.75));
}