.centerContainer {
    border-bottom: 2px solid var(--text-dark);
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.aboutContainer {
    display: flex;
    margin-bottom: 2rem;

    .left {
        h2 {
            font-style: italic;
            margin: 2rem 0 1rem 2rem;

            @media (max-width: 1075px) {
                margin-left: auto;
                margin-right: auto;
            }

            @media (max-width: 649px) {
                font-size: 6rem;
                line-height: 6rem;
                padding: 0rem;
            }
        }

        p {
            margin-top: 2rem;
            font-size: 1.5rem;
        }

        ul {
            font-size: 1.5rem;
            list-style-type: circle;
            margin-left: 2rem;
        }
    }

    .right {
        @media (max-width: 1075px) {
            margin: 0 auto;

            & > * {
                margin: inherit;
            }
        }

        @media (max-width: 649px) {
            display: none;
        }
    }

    @media (max-width: 1075px) {
        flex-direction: column;
    }
}
