.aboutContainer {
    display: flex;

    .left {
        h1 {
            font-size: 8rem;
            line-height: 8rem;
            font-weight: 800;
            color: theme('colors.accent');
            margin: 2rem;

            border-bottom-color: #65acb4;
            border-bottom-width: 2px;
            width: fit-content;
            padding: 0 1rem;

            @media (max-width: 1075px) {
                margin-left: auto;
                margin-right: auto;
            }

            @media (max-width: 649px) {
                font-size: 6rem;
                line-height: 6rem;
                padding: 0rem;
            }
        }
    }

    .right {
        @media (max-width: 1075px) {
            margin: 0 auto;

            & > * {
                margin: inherit;
            }
        }

        @media (max-width: 649px) {
            display: none;
        }
    }

    @media (max-width: 1075px) {
        flex-direction: column;
    }
}
