.centerContainer {
    border-bottom: 2px solid theme("colors.accent");
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.aboutContainer {
    display: flex;
    border-bottom: 2px solid theme("colors.accent");
    margin-bottom: 2rem;

    .left {
        h1 {
            @media (max-width: 1075px) {
                margin-left: auto;
                margin-right: auto;
            }

            @media (max-width: 649px) {
                font-size: 6rem;
                line-height: 6rem;
                padding: 0rem;
            }
        }
    }

    .right {
        @media (max-width: 1075px) {
            margin: 0 auto;

            & > * {
                margin: inherit;
            }
        }

        @media (max-width: 649px) {
            display: none;
        }
    }

    @media (max-width: 1075px) {
        flex-direction: column;
    }
}
