.school {
    display: flex;
    flex-direction: row;
    padding: 2rem;

    .logo {
        width: 10rem;
        height: 10rem;
        margin-right: 2rem;
    }

    .left {
        display: flex;
        flex-direction: column;
    }

    .expand {
        @apply flex-grow
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-self: end;

        .link {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}
