.countdownContainer {
    display: flex;
    justify-content: center;

    .logo {
        width: 400px;
        margin-right: 4rem;

        @media (max-width: 999px) {
            display: none;
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        .title {
            text-align: center;

            @media (max-width: 535px) {
                font-size: 4rem;
                line-height: 4rem;
            }
        }

        .countdown {
            display: flex;
            margin-top: 2rem;
            justify-content: center;

            .time {
                margin: 0 1rem;

                .unit {
                    font-size: 4rem;
                    line-height: 4rem;
                    text-align: center;

                    @media (max-width: 535px) {
                        font-size: 3rem;
                        line-height: 3rem;
                    }
                }

                .label {
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            gap: 2rem;
        }
    }
}

