.nav2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    .logo {
        padding-right: 2rem;
    }

    .logo, .after {
        display: flex;
        width: 12rem;
        margin-left: auto;

        @media screen and (max-width: 1600px) {
            display: none;
        }
    }

    .content {
        min-width: 1200px;
        display: flex;
        margin: auto 0;
        justify-content: space-between;

        border-bottom: 4px solid var(--accent);

        .left, .right {
            display: flex;
            align-items: center;

            .linkContainer {
                display: flex;
            }

            .link {
                display: block;
                margin: 0 1rem;
                font-size: 2rem;
                line-height: 2rem;
                white-space: nowrap;
                text-transform: uppercase;
            }

            .home {
                margin: 0 1rem;

                font-family: "Gratelos";

                font-size: 3rem;
                line-height: 3rem;

                color: var(--accent);

                @media screen and (min-width: 1600px) {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 1600px) {
        margin-top: 1rem;
    }
}
