.nav2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    .logo {
        padding-top: 1rem;
        padding-right: 2rem;
    }

    .logo, .after {
        display: flex;
        width: 12rem;
        margin-left: auto;

        @media screen and (max-width: 1600px) {
            display: none;
        }
    }

    .content {
        min-width: 1200px;
        display: flex;
        margin: auto 0;
        justify-content: space-between;

        border-bottom: 4px solid var(--accent);

        .home {
            margin: 0 1rem;

            font-family: "Gratelos";

            font-size: 3rem;
            line-height: 3rem;

            color: var(--accent);

            @media screen and (min-width: 1600px) {
                display: none;
            }
        }

        .menu {
            display: flex;

            .left, .right {
                display: flex;
                align-items: center;

                .linkContainer {
                    display: flex;
                }

                .link {
                    display: block;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    font-size: 2rem;
                    line-height: 2rem;
                    white-space: nowrap;
                    text-transform: uppercase;
                }
            }
        }

        .menuToggle, .menuLabel {
            display: none;
        }
    }

    @media screen and (max-width: 1600px) {
        margin-top: 1rem;
    }

    @media screen and (max-width: 1215px) {
        .content {
            min-width: 100%;

            .menuLabel {
                display: block;
                margin-right: 1rem;
                user-select: none;
            }

            .menu {
                display: none;
            }

            .menuToggle:checked ~ .menu {
                width: 100%;
                background-color: #212121;
                margin-top: 4rem;
                display: block;
                position: absolute;
                flex-direction: column;
                border-bottom: 4px solid var(--text-dark);

                .left {
                    flex-direction: column;
                }

                .right {
                    justify-content: center;
                }

                .link {
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    text-align: center;
                }
            }
        }
    }
}
